{
  "presets": [
    [
      "@babel/preset-env", // 包含所有新特性，可以将新语法trans为不同环境支持的语法
      {
        "targets": {"chrome": 58, "ie": 9}
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ],
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-regenerator"
  ]
}
